./windows/web/mainapp/__pycashe__/
./linux/web/mainapp/__pycashe__/
./windows/web/web/__pycashe__/
./linux/web/web/__pycashe__/
./windows/web/__pycashe__/
./linux/web/__pycashe__/
./windows/venv
./linux/venv
./projectvenv
./.vs
