*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: white;
}

.desktop-header{
    display: flex;
    flex-direction: row;

    position: fixed;

    width: 99vw;
    top: 10px;
    height: 10vh;

    box-sizing: border-box;
    justify-content: space-between;

    padding: 10px 30px;

    background-image: linear-gradient(45deg, blue, darkviolet, purple, blue);

    border-radius: 10px;

    color: white;
    z-index: 0;
}

.mobile-header, .mini-mobile-header{
    display: none;
}

.header-urls{
    display: flex;

    text-indent: 10px;

    align-items: center;
    float: left;
}

aside.left{
    display: none;
}

.header-urls a{
    background-color: blueviolet;

    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;

    transition: color .2s, box-shadow .1s, font-weight .3s, transform .1s;
    font-weight: 700;

    text-decoration: none;
    color: white;

}

.header-urls a:hover{
    box-shadow: 10px 20px 5px black;

    color: black;
    background-color:whitesmoke;
    transform: scale(1.1);
}

.wrapper{
    background-color: light;
    margin: 13vh 10px 0px 10px;

    padding: 20px;
    border-radius: 10px;
    
    box-shadow: 0px -100px 1000px darkgray;

    display: flex;
    flex-direction: column;

    align-items: center;

}


@media screen  and (min-width:700px) and (max-width:1400px){
    .mobile-header{
        position: fixed;
        width: 95vw;
        height: 8vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin: 0vh 10px 2vh 0px;

        background-image: linear-gradient(45deg, blue, darkviolet, purple, blue);
        color: white;

        padding: 10px 20px;
        border-radius: 10px;

        box-shadow: 0px 5px 1000px black;
        top: 2px;
        transition: .2s;
    }

    .wrapper{
        margin: 12vh 10px 0px 10px;
    }

    .burger hr, .burger-clicked hr{
        width: 30px;
        color: white;
        background-color: white;
        height: 2px;

        border: 1px solid white;
        border-radius: 10px;

        transition: .1s;
        box-shadow: 2px 2px 2px black;
        margin: 10px;
    }

    .burger-clicked{
         margin-top: 15px;


        hr{
            box-shadow: 0px 0px 20px white;
            
        }

        #for_hide{
            display: none;
        }

        #left{
            margin-right: -2px;
            margin-bottom: -4px;
            transform: rotate(45deg);

        }

        #right{
            margin-top: -4px;
            transform: rotate(-45deg);
        }
    }

    .desktop-header{
        display: none;
    }

    .burger-menu{
        position: absolute;

        margin: 0px auto;
        top: 10px;

        display: flex;
        flex-direction: column;
        align-items: center;

        background-image: linear-gradient(45deg, rgb(5, 0, 110), blue, darkviolet, purple, blue);
        background-size: 200%;

        align-self: center;
        

        border-radius: 10px;

        width: 86%;

        box-shadow: 0px 5px 500px black;
        transition: top .2s, box-shadow .3s, background-position .3s;


        a{
            text-decoration: none;
            color: white;
            background-color: purple;

            width: 25vw;

            text-align: center;
            padding: 0px 5px;
            border-radius: 5px;

            margin: 5px;
            transition: .1s
        };

        a:hover{
            box-shadow: 10px 10px 0px black;
        }
    }

    .burger-menu.hidden{
        top: -450px;
        box-shadow: 0px 0px 0px black;
        
        background-position: 50%;
    }

}

@media screen and (max-width: 700px) {
    .desktop-header{
        display: none;
    }
    
    .mini-mobile-header{
        display: flex;
        flex-direction: row;
        
        justify-content: space-around;

        align-items: center;

        background-image: linear-gradient(45deg, blue, darkviolet, purple, blue);

        left: 0;
        right: 0;
        top: 0;


        position: fixed;

        width: 100vw;

        color: white;

        height: 10vh;

        border-radius: 0px 0px 50px 10px;

        transition: .2s;
    }

    .wrapper{
        margin: 12vh 1vw 5vh 1vh;

        border-radius: 10px 50px 10px 10px;

        box-shadow: 0px 0px 100px gray;

        transition: .1s;
    }

    .burger-mobile{
        display: flex;
        flex-direction: column;

        line-height: 1px;
        transition: .2s;

        z-index: 2;


    }

    .burger-mobile-line{
        background-color: white;
        color: white;

        margin: 3px auto;

        width: 20px;
        border-radius: 1px;
        border: 1px solid white;

        transition: .1s;

    }

    .burger-mobile-clicked{
        transform: rotate(180deg);
        position: absolute;

        right: 65px;
        
        .burger-mobile-line.top{
            width: 15px;
            margin-left: 8px;
            transform: rotate(30deg);
        };


        .burger-mobile-line.bottom{
            width: 15px;
            margin-left: 8px;
            transform: rotate(-30deg);
        };



    }

    .wrapper-menu-opened{
        border-radius: 50px 10px 10px 10px;
    }

    .header-opened{
        border-radius: 0px 0px 10px 50px;
    }
    
    aside.left{

        top: 0px;
        left: 0px;

        padding: 50px;

        background-image:  linear-gradient(45deg, blue, darkviolet, purple, blue);
        height: 100vh;

        position: fixed;
        display: flex;
        flex-direction: column;

        color: white;
        box-shadow: 50px 0px 100px grey;
        transition: .2s, border-radius .3s;

        border-radius: 0  30px;

        body{
            position: fixed;
            overflow-y: scroll;
        }

        a{
            text-decoration: none;
            color: white;
            background-color: black;
            margin: 1px;
            padding: 0px 5px;
            text-align: center;

            border-radius: 2px 2px 25px 2px;

        };       
    }

    aside.left.mobile-hidden{
        left: -400px;
        border-radius: 0px;
    }

}


@media (prefers-color-scheme: dark){
    body{
        background-color: rgb(41, 41, 41);
        color: white;
    }
}