{% extends 'base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static './css/index.css' %}">
{% endblock %}


{% block content %}
    <div class="help-boxes">
        <div class="help-box telegram"  style='background-image: url("{% static '/img/telegramImage.png' %}")' >
            <div class="telegram-help">
                <h4>Телеграм бот</h4>
    
                <div class="work-or-not">
                    <i class="state">Не работает</i>
                    <img src="" alt="" class="state-image">
                    <a href="{% url 'telegrambot' %}">Запустить</a>
                </div>
            </div>
        </div>
        <div class="help-box faq "style='background-image: url("{% static '/img/contact.jpeg' %}")' > 
                <a href="https://t.me/g3rs_0ne_bot" target="_blank" id="contact-btn">
                    <h4>
                        Написать разработчику
                    </h4>
                </a>
        </div>
    </div>
    <div class="">
        <h2>О проекте:</h2>
        <div class="container project-info">
            <div class="info">
                Сам проект подразумевает собой простой сканнер локальной сети (LAN не WAN) на обнаружение подключенных к ней устройств.
Сканирование происходит постоянно, но время сканирования зависит от количества подключенных устройств. Это объясняется принципом общения устройств в сети: устройство, подключенное к сети отправляет arp пакет на каждое устройство и получает ответ. Таким образом ваше устройство узнает тип подключаемого устройства (роутер, коммутатор, телефон, планшет, компьютер)
При сканировании программа видит устройства, подключенные к вашей сети, и отображает их на<a href="{% url 'index-page' %}">Главной странице</a> или подробнее на странице со <a href="{% url 'listip' %}">Списком IP</a>. При желании вы можете подключить бота в Telegram, для этого <a href="{% url 'telegrambot'%}">перейдите в соответствующее меню</a>.
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
