{% extends 'base.html' %}
{% load static %}

{% block title %}
    Список IP
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static './css/ip.css' %}">k
{% endblock %}

{% block content %}
<div class="ip-list">
    <h2 class="page-header">Постоянные устройства:</h2>
    <ul id="trusted-ip">


        
    </ul>
</div>

<div class="ip-list">
    <h2 class="page-header">Новые устройства: </h2>

    <ul id="new-ip">
        


    </ul>
</div>

<div class="templates" style="display: none;">
    <div class="untrusted" id="untrusted-template">
        <li id="">
            <div class="ip">
                <div class="ip-addr"></div>
                <div class="name-for-ip"><i></i></div>
                

                <div class="remove-from-trusted"  onclick="remove()">
                    <div class="plus-hr first-hr"></div>
                    <div class="plus-hr second-hr"></div>
                </div>
            </div>
        </li>
    </div>

    <div class="trusted">
        <li id="">
            <div class="ip">
                <div class="ip-addr"></div> 
                <div class="name-for-ip"><i></i></div>

                <div class="add-to-trusted"  onclick="add()">
                    <div class="plus-hr first-hr"></div>
                    <div class="plus-hr second-hr"></div>
                </div>
        </li>
    </div>
    
</div>
{% endblock %}

{% block scripts %}
    <script>
        function add(id){
            let block = document.getElementById(`${id}-ut`);
            let newId = document.getElementById("trusted-ip").childElementCount + 1;
            try{
                block.id = `${newId}-t`;
            } catch{
                block.id = "1-t"
            }

            
            let plus = block.getElementsByClassName("add-to-trusted")[0];
            plus.removeAttribute("onclick")
            plus.setAttribute("oncilck", `remove(${newId})`)
            plus.classList.replace("add-to-trusted", "remove-from-trusted")

            document.getElementById("trusted-ip").appendChild(block);

            let data = {
                ip: block.getElementsByClassName("ip-addr")[0].innerHTML
            }
            var csrftoken = '{{ csrf_token }}';

            $.ajax({
                url: '{% url "ajax-resolve-ip" %}',
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFTOKEN': csrftoken
                },
                data: JSON.stringify(data),
                success: function (response) {
                    console.log(response);
                }
            });


        }
        function remove(id){
            let block = document.getElementById(`${id}-t`);
            let newId = document.getElementById("new-ip").childElementCount + 1;
            block.id = `${newId}-ut`;
            
            let plus = block.getElementsByClassName("remove-from-trusted")[0];
            plus.removeAttribute("onclick")
            plus.setAttribute("oncilck", `add(${newId})`)
            plus.classList.replace("remove-from-trusted", "add-to-trusted")

            document.getElementById("new-ip").appendChild(block);

            let data = {
                ip: block.getElementsByClassName("ip-addr")[0].innerHTML
            }
            
            var csrftoken = '{{ csrf_token }}';

            $.ajax({
                url: '{% url "ajax-unresolve-ip" %}',
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFTOKEN': csrftoken
                },
                data: JSON.stringify(data),
                success: function (response) {
                    console.log(response);
                }
            });

        }
    </script>
    <script>
        setInterval(()=>{
            $.ajax({
                url: '{% url "ajax-ip" %}',
                type: 'GET',
                dataType: 'json',
                success: function(response){
                    document.getElementById("new-ip").replaceChildren();
                    response['new'].forEach(element => {


                        let template = document.createElement("li")
                        template.id = `${response['new'].indexOf(element)}-ut`;
                        template.innerHTML = `<div class="ip">
                                                    <div class="ip-addr"></div> 
                                                    <div class="name-for-ip"><i></i></div>

                                                    <div class="add-to-trusted"  onclick="add(${response['new'].indexOf(element)})">
                                                        <div class="plus-hr first-hr"></div>
                                                        <div class="plus-hr second-hr"></div>
                                                </div>`
                        
                        template.getElementsByClassName("ip-addr")[0].innerHTML = element['ip'];
                        template.getElementsByClassName("name-for-ip")[0].innerHTML = element['mac']


                        document.getElementById("new-ip").appendChild(template)
                        

                    });

                    response['old'].forEach(element => {


                        let template = document.createElement("li")
                        template.id = `${response['new'].indexOf(element)}-t`;
                        template.innerHTML = `<div class="ip">
                                                    <div class="ip-addr"></div> 
                                                    <div class="name-for-ip"><i></i></div>

                                                    <div class="remove-from-trusted"  onclick="remove(${response['new'].indexOf(element)})">
                                                        <div class="plus-hr first-hr"></div>
                                                        <div class="plus-hr second-hr"></div>
                                                </div>`

                        template.getElementsByClassName("ip-addr")[0].innerHTML = element['ip'];
                        template.getElementsByClassName("name-for-ip")[0].innerHTML = element['mac']


                        document.getElementById("trusted-ip").appendChild(template)


                        });
                },
                error: function(xhr, status, error) {
                    console.log('.');
                }
            });
        }, 5000)
    </script>

{% endblock %}