{% extends 'base.html' %}
{% load static %}

{% block title %}
    Telegram Бот
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static '/css/telegrambot.css' %}">
{% endblock %}

{% block content %}
    <h2>
        Telegram бот
    </h2>

    <!-- Если еще не создан -->
    <div class="container description">
        <h4>Что это вообще такое?</h4>
        <div class="desc-text">
            <i>
                Если вы хотите, чтобы вы могли использовать все функции вне вашей сети WiFi - создайте бота для Telegram. Вам нужно всего лишь зарегистрировать его, сам бот написан за вас и не требует ваших вмешательств.
            </i>
        </div>

        <h4>
            Как я могу это сделать?
        </h4>
        <div class="desc-text">
            <ul>
                <li>
                    <b>Для начала перейдите в бота <a href="https://t.me/BotFather" target="_blank">BotFather</a></b>
                    Там веберите команду <b><u>/newbot</u></b> и следуйте инструкциям которые бует отправлять вам этот бот
                    <i>Этот бот - оффициальный бот Telegram для <b>регистрации</b> новых ботов</i>
                </li>
                <li>
                    В конце бот отправит большое сообщение, там будет поле <b><u>token</u></b>. Этот токен - ключ к управлению ботом, его вы должны скопировать в поле ниже. В фото-примере это цепочка символов оранжевого цвета

                    <div class="tgbotex-container">
                        <img src="{% static './img/tgbotex1.png' %}" alt="" class="tgbotex" loading="eager">
                    </div>
                    
                </li>
            </ul>
        </div>

        <div class="token-form">
            <input type="text" placeholder="Тут введите токен" id="for-token">

            <button id="sent-token">Подтвердить</button>
        </div>
        

    </div>

{% endblock %}