{% extends 'base.html' %}
{% load static %}

{% block title %}
    Telegram Бот
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static '/css/telegrambot.css' %}">
{% endblock %}

{% block content %}
    <h2>
        Telegram бот
    </h2>

    <!-- Если еще не создан -->
    {% if not created %}
    <div class="container description">
        <h4>Что это такое?</h4>
        <div class="desc-text">
            <i>
                Для получения результата сканирования локальной сети в Telegram необходимо создать чат-бота. Для этого нужно всего лишь зарегистрировать его, сам бот уже написан и не требует никаких вмешательств.
            </i>
        </div>

        <h4>
            Как это сделать?
        </h4>
        <div class="desc-text">
            <ul>
                <li>
                    <b> Для начала перейдите в официальный бот Telegram для регистрации новых ботов <a href="https://t.me/BotFather" target="_blank">BotFather</a></b>.
                </li>
                <li>
                    Выберите команду <b>/newbot</b> и следуйте инструкциям, которые будет отправлять вам этот бот. 
                </li>
                <li>
                    В конце бот отправит большое сообщение, там будет поле token (в примере – цепочка символов оранжевого цвета). Токен – ключ к управлению ботом, его необходимо скопировать в поле ниже.

                    <div class="tgbotex-container">
                        <img src="{% static './img/tgbotex1.png' %}" alt="" class="tgbotex" loading="eager">
                    </div>
                    
                </li>
            </ul>
        </div>

        <div class="token-form">
            <input type="text" placeholder="Тут введите токен" id="for-token">

            <button id="sent-token" onclick="add_bot()">Подтвердить</button>
        </div>
        

    </div>
    {% else %}
    <!--  Если создан -->
    <div class="container if-created">
        <div class="control-box">
            <h2 id="activated">Запущен</h2>

            <button id="stop-btn" onclick="stopBot()">Остановить</button>

        </div>


        <div class="help">
            <h3><i>Помощь</i></h3>
            <div class="container help-box">
                <h4>Команды:</h4>
                <ul>
                    <li>
                        <h4>/help</h4>
                        <i>Выводит небольшую справку с командами</i>
                    </li>
                    <li>
                        <h4>/scan</h5>
                        <i>Получить свежий результат сканирования</i>
                    </li>
                    <li>
                        <h4>/constant</h4>
                        <i>Получить ip адреса устройств, которые вы добавили в список с возможностью удаления</i>
                    </li>
                    <li>
                        <h4>/new_ip</h4>
                        <i>Получить список ip адресов устройств, которых нету в списке но они подключены к сети с возможностью добавить</i>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    {% endif %}

{% endblock %}

{% block scripts %}
    <script>
        function stopBot(){
            var csrftoken = '{{ csrf_token }}';
            $.ajax({
                url: '{% url "botstop" %}',
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFTOKEN': csrftoken
                },
                success: function (response) {
                    console.log(response);
                    window.location.reload()
                }
            });
        }

        function add_bot(){
            let data = {
                "token": document.getElementById("for-token").value
            }
            var csrftoken = '{{ csrf_token }}';
            $.ajax({
                url: '{% url "botstart" %}',
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFTOKEN': csrftoken
                },
                data: JSON.stringify(data),
                success: function (response) {
                    console.log(response);
                    window.location.reload()
                }
            });
        }
    </script>
{% endblock %}

