{% extends 'base.html' %}
{% load static %}

{% block title %}
    Telegram Бот
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static '/css/telegrambot.css' %}">
{% endblock %}

{% block content %}
    <h2>
        Telegram бот
    </h2>

    <!-- Если еще не создан -->
    <div class="container description">
        <h4>Что это такое?</h4>
        <div class="desc-text">
            <i>
                Для получения результата сканирования локальной сети в Telegram необходимо создать чат-бота. Для этого нужно всего лишь зарегистрировать его, сам бот уже написан и не требует никаких вмешательств.
            </i>
        </div>

        <h4>
            Как это сделать?
        </h4>
        <div class="desc-text">
            <ul>
                <li>
                    <b> Для начала перейдите в официальный бот Telegram для регистрации новых ботов <a href="https://t.me/BotFather" target="_blank">BotFather</a></b>.
                </li>
                <li>
                    Выберите команду <b>/newbot</b> и следуйте инструкциям, которые будет отправлять вам этот бот. 
                </li>
                <li>
                    В конце бот отправит большое сообщение, там будет поле token (в примере – цепочка символов оранжевого цвета). Токен – ключ к управлению ботом, его необходимо скопировать в поле ниже.

                    <div class="tgbotex-container">
                        <img src="{% static './img/tgbotex1.png' %}" alt="" class="tgbotex" loading="eager">
                    </div>
                    
                </li>
            </ul>
        </div>

        <div class="token-form">
            <input type="text" placeholder="Тут введите токен" id="for-token">

            <button id="sent-token">Подтвердить</button>
        </div>
        

    </div>

    <!--  Если создан -->
    <div class="container if-created">
        
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}

